<div>
  <h1 class="font-bold text-4xl">Gallery#mine</h1>
  <p>Find me in app/views/gallery/mine.html.erb</p>
  <% @friends.each do |friend| %>
    <div class="flex flex-col">
      <h2 class="text-2xl font-bold text-indigo-700"><%= friend.first_name %></h2>
      <p class="text-gray-600"><%= friend.email %></p>
      <p class="text-gray-600"><%= friend.phone %></p>
    </div>
  <% end %>
</div>
