

<div class="flex flex-col">
    <div>
        <%= @friend.first_name + @friend.last_name%>
    </div>
    <p class="text-gray-600"><%= @friend.email %></p>
    <p class="text-gray-600"><%= @friend.phone %></p>
</div>